body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ccc;
}
* {
    transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}
button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.todo {
  max-width: 600px;
  margin: 5% auto;
  padding: 25px 40px;
  background-color:#fff;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}
.todoForm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  >input {
    width: 80%;
    padding: 10px 25px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border: 2px solid #ccc;
  }
  >button {
    width: 10%;
    background: #ccc;
    border: 1px solid #ccc;
    color:#ffffff;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    
}
}
.todoList {
  background: #ccc;
  padding: 30px;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}
.todoItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background: #fff;
  padding: 10px 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  >input {margin-right: 30px;}
  >span {flex-grow: 1; font-size: 120%;}
  button {background: red; color: #fff; cursor: pointer; border: none;padding: 5px 10px;}
}
.filter {
  width: 70%;
  margin: 0 auto 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  >button {padding: 5px 10px; font-size: 130%; background: #fff; border: 1px solid #fff; cursor: pointer;}
}
